@use '../abstracts' as *;

.benefits {
    &__cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
    }

    &__card {
        gap: 1.875rem;
        max-width: 24rem;

        @include for-tablet-landscape-up {
            gap: 2.5rem;
        }
    }

    &__card-heading,
    &__card-footer {
        text-align: right;
    }

    &__card-number {
        font-weight: bold;
        font-size: $font-size--4xl;
    }

    &__card-title {
        font-weight: 500;
        font-size: $font-size--lg;
    }

    &__card-description {
        margin-top: 0.625rem;
    }

    &__card-footer {
        margin-top: auto;

        .link {
            color: $color-orange-50;
        }
    }
}
