@use '../abstracts' as *;

.faq {
    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 2rem;
    }

    &__header {
        p {
            margin-top: 0.5rem;
        }
    }

    &__questions {
        margin-top: 2.5rem;

        @include for-tablet-landscape-up {
            margin-top: 0;
        }
    }

    &__question-wrapper {
        border: 1px solid $color-white-95;
        border-radius: $radius--lg;
        padding: 1.5rem;

        &:not(:first-child) {
            margin-top: 1.25rem;
        }
    }

    &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.875rem;
        cursor: pointer;

        h3 {
            font-size: 1rem;
        }
    }

    &__question-icon {
        display: flex;
        align-self: baseline;
    }

    &__answer {
        margin-top: 1.25rem;
        border-top: 1px solid $color-white-95;
        padding-top: 1.25rem;
    }
}
