@use '../abstracts' as *;

.header {
    padding-top: 1.75rem;

    @include for-tablet-landscape-up {
        padding-top: 1.25rem;
    }

    > *:not(:first-child) {
        padding-top: 1rem;
    }
}
