@use '../abstracts' as *;

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: $font-size-small;
    text-align: center;

    &__logo {
        margin-right: 3.125rem;
    }

    &__links,
    &__actions {
        display: flex;
        align-items: center;
        gap: 1.625rem;
        color: $color-gray-15;
    }

    &__links {
        display: none;

        @include for-tablet-landscape-up {
            display: flex;
        }
    }

    &__actions {
        margin-left: auto;
    }

    &__drawer-toggle {
        margin-left: 1.25rem;
        color: $color-gray-15;

        @include for-tablet-landscape-up {
            display: none;
        }

        .icon {
            width: 2.125rem;
            height: 2.125rem;
        }
    }
}
