{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 150,
  "tabWidth": 4,
  "plugins": ["prettier-plugin-blade", "prettier-plugin-organize-attributes", "prettier-plugin-css-order"],
  "overrides": [
    {
      "files": [
        "*.blade.php"
      ],
      "options": {
        "parser": "blade"
      }
    }
  ]
}