@use '../abstracts' as *;

[data-page='home'] {
    > section {
        margin-top: 1.875rem;

        @include for-tablet-landscape-up {
            margin-top: 5rem;
        }
    }

    .hero {
        margin-top: 3.125rem;
    }
}
