@use '../abstracts' as *;

.hero {
    margin-top: 3.125rem;

    @include for-tablet-landscape-up {
        margin-top: 5rem;
    }
}

.partners-banner,
.institutional-video {
    margin-top: 1.875rem;

    @include for-tablet-landscape-up {
        margin-top: 5rem;
    }
}
