@use '../../abstracts' as *;

[data-page='home'] .benefits-list {
    &__card {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        max-width: 25.75rem;

        @include for-tablet-landscape-up {
            gap: 2.5rem;
        }
    }

    &__card-heading,
    &__card-footer {
        text-align: right;
    }

    &__card-number {
        font-weight: bold;
        font-size: $font-size--4xl;
    }

    &__card-description {
        margin-top: 0.625rem;
    }

    &__card-footer {
        margin-top: auto;

        .icon-button {
            color: $color-orange-50;
        }
    }
}
