@use '../../abstracts' as *;

.home-courses {
    &__card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 39rem;

        .link {
            margin-top: auto;
            width: 100%;
        }
    }

    &__card-teaser-image {
        border-radius: $radius--md;
        overflow: hidden;

        img {
            transition: all 350ms;
            aspect-ratio: 2.06;
            width: 100%;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__card-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.875rem;
    }

    &__card-badges {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.625rem;
    }

    &__card-instructor {
        color: inherit;
        font-weight: bold;
    }

    &__card-teaser-text {
        margin-top: 0.625rem;
    }
}
