@use '../../abstracts' as *;

[data-page='home'] .courses-list {
    &__card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 39rem;

        .button {
            margin-top: auto;
            width: 100%;
        }
    }

    &__card-teaser-image {
        border-radius: $radius--md;
        overflow: hidden;

        img {
            transition: all 350ms;
            aspect-ratio: 2.06;
            width: 100%;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__card-teaser-text {
        margin-top: 0.625rem;
    }
}
