@use '../../abstracts' as *;

[data-page='contact-us'] .contact-us-form {
    display: grid;
    gap: 3rem;
    container-type: inline-size;

    @include for-large-tablet-landscape-up {
        grid-template-columns: 2fr 1fr;
    }

    .form-success-message {
        place-self: center;
    }

    &__form {
        @container (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__form button[type='submit'] {
        align-self: center;
        justify-self: center;
    }

    &__info {
        gap: 1.5rem;
        border-top: 1px solid $color-white-95;
        padding-top: 3rem;

        @include for-large-tablet-landscape-up {
            border-top: unset;
            border-left: 1px solid $color-white-95;
            padding-top: unset;
            padding-left: 3rem;
        }
    }

    &__info-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.875rem;
        background-color: $color-white-99;
        max-width: 19rem;

        &--social-profiles {
            flex-direction: column-reverse;

            p {
                color: $color-gray-15;
            }
        }
    }
}
