@use '../abstracts' as *;

.card {
    border-radius: $radius--lg;
    background-color: $color-white;
    padding: 1.875rem;
    width: 100%;

    @include for-tablet-landscape-up {
        padding: 2.5rem;
    }
}
