@use '../abstracts' as *;

.card {
    display: flex;
    flex-direction: column;
    border-radius: $radius--lg;
    background-color: $color-white;
    padding: 1.875rem;

    @include for-tablet-landscape-up {
        padding: 2.5rem;
    }
}
