.course-card-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.875rem;

    &__badges {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.625rem;
    }

    &__instructor {
        color: inherit;
        font-weight: bold;
    }
}
