@use '../abstracts' as *;

.institutional-video {
    display: grid;
    place-items: center;

    &__wrapper {
        border-radius: $radius--xl;
        aspect-ratio: 16 / 9;
        width: 100%;
        max-width: 65rem;
        overflow: hidden;
    }
}
