@use '../abstracts' as *;

%button {
    transition: 0.3s;
    border-radius: $radius--sm;
}

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: center;

    &[data-appearance='link'] {
        &:hover,
        &:focus {
            color: $color-gray-35;
            text-decoration: underline;
        }
    }

    &[data-appearance='primary'] {
        @extend %button;
        background-color: $color-primary;
        color: $color-white;
    }

    &[data-appearance='secondary'] {
        @extend %button;
        border: 1px solid $color-white-95;
        background-color: $color-white-99;
    }

    &[data-appearance='neutral'] {
        @extend %button;
        border: 1px solid $color-white-95;
        background-color: $color-white-97;
    }

    &[data-shape='default'] {
        padding: 0.75rem 1.5rem;
    }

    &[data-shape='square'] {
        padding: 0.75rem;
    }

    &[data-shape='circle'] {
        border-radius: $radius--full;
        padding: 0.75rem;
    }
}
