@use '../abstracts' as *;

.header-advertisement {
    border-radius: 0.375rem;
    background-color: $color-primary;
    padding: 0.625rem 1rem;
    color: $color-white;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;

        &:hover {
            text-decoration: underline;
        }

        .icon {
            flex-shrink: 0;
        }
    }
}
