@use '../abstracts' as *;

body {
    color: $color-gray-35;
    font-weight: 400;
    font-size: $font-size-medium;
    font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-gray-15;
}

h1 {
    font-size: $font-size-extra-large;
}

h2 {
    font-size: $font-size-larger;
}
