@use '../../../abstracts' as *;

.page-section-header {
    &__content {
        display: grid;
        column-gap: 2.25rem;
        row-gap: 1.25rem;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 2.5rem;

        @include for-large-tablet-portrait-up {
            grid-template-columns: auto max-content;
        }
    }

    &__side-content--centered {
        place-items: center;
    }
}
